<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Appeal Email Template</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f4f4f4;
            color: #333;
        }

        h1 {
            color: #007BFF;
        }

        p {
            margin-bottom: 10px;
            font-size: 16px;
            font-weight: bold;
        }

        strong {
            text-decoration: underline;
            text-decoration-color: #007BFF;
            text-decoration-style: solid;
            font-weight: lighter;
        }
    </style>
</head>
<body>
    <h1>New message from site!</h1>
    {% if instance.is_for_purchase == True %}
        <p>Appeal id: <strong>{{ instance.id }}</strong></p>
        <p>is for purcahse: <strong>{{ instance.is_for_purchase }}</strong></p>
        <p>Name: <strong>{{ instance.name }}</strong></p>
        <p>Phone: <strong>{{ instance.phone }}</strong></p>
        <p>Language: <strong>{{ instance.lang }}</strong></p>
        <p>At time: <strong>{{ instance.at_time }}</strong></p>
        <p>Created at: <strong>{{ instance.created_at }}</strong></p>
    {% else %}
        <p>Appeal id: <strong>{{ instance.id }}</strong></p>
        <p>Name: <strong>{{ instance.name }}</strong></p>
        <p>Phone: <strong>{{ instance.phone }}</strong></p>
        <p>Language: <strong>{{ instance.lang }}</strong></p>
        <p>At time: <strong>{{ instance.at_time }}</strong></p>
        <p>Created at: <strong>{{ instance.created_at }}</strong></p>
    {% endif %}

    <p>Name: <strong>{{ instance.name }}</strong></p>
    <p>Phone: <strong>{{ instance.phone }}</strong></p>
    <p>Language: <strong>{{ instance.lang }}</strong></p>
    <p>At time: <strong>{{ instance.at_time }}</strong></p>

</body>
</html>
